<div class="ManaSymbolQuantity">
	
    <span data-dojo-attach-point="singleSymbolImage"></span>
	<input data-dojo-type="dijit/form/NumberSpinner"
		data-dojo-attach-point="singleSymbolQuantity"
		name="singleSymbolQuantity"
		value="0"
		data-dojo-props="constraints:{min:0,places:0}"
		style="width:50px"
		/>

    <span class="ManaSymbolSpacing"></span>
        
    <span data-dojo-attach-point="doubleSymbolImage"></span>
	<input data-dojo-type="dijit/form/NumberSpinner"
		data-dojo-attach-point="doubleSymbolQuantity"
		name="doubleSymbolQuantity"
		value="0"
		data-dojo-props="constraints:{min:0,places:0}"
		style="width:50px"
		/>
</div>